:root {
	--highlight-resume: black;
}

.padding-resume {
	margin-top: 5rem;
	margin-left: 1rem;
	margin-right: 1rem;
}

.resume_wrapper {
	border: rgb(71, 71, 71) 1px solid;
	border-bottom: rgb(116, 116, 116) 5px solid;
	border-top: 10px solid rgb(51, 51, 51);
	display: flex;
	width: 1095.41px;
	height: fit-content;
	margin: 50px auto;
	background: #fff;
	box-shadow: rgba(0, 0, 0, 0.408) 0rem 0rem 1rem;
	font-size: 1.3rem;
	font-weight: normal;
}

.resume_wrapper .resume_left {
	width: 35%;
	background: #ffffff;
	box-shadow: rgba(0, 0, 0, 0.308) 0rem 0rem 0.3rem;
}

.resume_wrapper .resume_left .resume_image {
	width: 100%;
}

.resume_wrapper .resume_left .resume_image img {
	width: 100%;
	display: block;
}

.resume_wrapper .resume_title {
	color: #222222;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 16px;
	margin-bottom: 10px;
	letter-spacing: 4px;
}

.resume_wrapper .resume_left .resume_info {
	color: #222222;
}

.resume_wrapper .resume_left .resume_bottom {
	padding: 10px 20px;
}

.resume_wrapper .resume_item {
	padding: 20px 0;
	border-bottom: 1px solid var(--highlight-resume);
}

.resume_wrapper .resume_item:last-child {
	border-bottom: 0;
}

.resume_wrapper .resume_left .resume_namerole {
	display: none;
}

.resume_wrapper .resume_namerole .name {
	font-size: 20px;
	color: #222222;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 5px;
	letter-spacing: 4px;
}

.resume_wrapper .resume_left .resume_namerole .role {
	color: #525252;
}

.resume_wrapper .resume_left .resume_contact .resume_info:last-child {
	margin-top: 10px;
}

.resume_wrapper .resume_left .resume_contact .resume_subtitle {
	color: #222222;
	margin-bottom: 2px;
}

.resume_wrapper .resume_left .resume_skills .skills_list {
	display: flex;
	justify-content: space-between;
}

.resume_wrapper .resume_left .resume_skills .skills_list .skills_bar p {
	position: relative;
	width: 125px;
	height: 20px;
	background: #fff;
}

.resume_wrapper .resume_left .resume_skills .skills_list .skills_bar p span {
	position: absolute;
	top: 0;
	left: 0;
	background: var(--highlight-resume);
	width: 100%;
	height: 100%;
}

.resume_wrapper .resume_right {
	width: 65%;
	padding: 20px 40px;
	color: #26252d;
}

.resume_wrapper .resume_right .resume_namerole .name {
	color: #26252d;
	font-size: 32px;
}

.resume_item_custom {
	padding-top: 20px;
}

.email {
	font-size: 16px;
	font-weight: lighter;
}

.resume_wrapper .resume_right .resume_namerole .role {
	font-size: 14px;
	text-transform: uppercase;
}

.resume_wrapper .resume_right .resume_item .resume_title {
	color: #26252d;
}

.resume_wrapper .resume_right .resume_data {
	display: flex;
}

.resume_wrapper .resume_right .resume_data .year {
	padding-right: 35px;
	position: relative;
}

.resume_wrapper .resume_right .resume_data .content {
	padding-left: 35px;
	margin-bottom: 20px;
	width: calc(100% - 115px);
}

.resume_wrapper .resume_right .resume_data .year:before {
	content: "";
	position: absolute;
	top: 5px;
	right: 0;
	width: 10px;
	height: 10px;
	background: #fff;
	border: 1px solid #26252d;
	border-radius: 50%;
}

.resume_wrapper .resume_right .resume_data .year:after {
	content: "";
	position: absolute;
	top: 17px;
	right: 4px;
	width: 3px;
	height: 90%;
	background: var(--highlight-resume);
}

.resume_wrapper .resume_right .resume_data:last-child .year:after {
	display: none;
}

.resume_wrapper .resume_right .resmue_interests .resume_info {
	display: flex;
	justify-content: space-between;
	text-align: center;
}

.resume_wrapper .resume_right .resmue_interests .interests .int_icon {
	font-size: 38px;
	color: var(--highlight-resume);
	margin-bottom: 10px;
}

@media screen and (max-width: 999px) {
	.resume_wrapper .resume_right .resume_namerole {
		display: none;
	}
	.resume_wrapper .resume_left .resume_namerole {
		display: block;
	}
	.resume_wrapper {
		width: 95%;
		margin: 10px auto;
		flex-direction: column;
	}
	.resume_wrapper .resume_left, .resume_wrapper .resume_right {
		width: 100%;
	}
}

@media screen and (max-width: 424px) {
	.resume_wrapper .resume_right {
		padding: 20px 30px;
	}
	.resume_wrapper .resume_right .resume_data {
		flex-direction: column;
	}
	.resume_wrapper .resume_right .resume_data .year {
		padding: 0;
		margin-bottom: 5px;
		width: 100%;
		color: var(--highlight-resume);
	}
	.resume_wrapper .resume_right .resume_data .year:before, .resume_wrapper .resume_right .resume_data .year:after {
		display: none;
	}
	.resume_wrapper .resume_right .resume_data .content {
		width: 100%;
		padding: 0;
	}
	.resume_wrapper .resume_right .resmue_interests .interests .int_icon {
		font-size: 24px;
	}
}

@media print and (max-width: 800px) {
	.navbar-fixed {
		display: none !important;
	}
	.resume_wrapper {
		width: 100% !important;
		margin: 0px !important;
	}
	html, body {
		margin: 0px !important;
		height: 100% !important;
		font-size: 8px !important;
	}
	.resume_wrapper .resume_title {
		color: #222222;
		text-transform: uppercase;
		font-weight: 600 !important;
		font-size: 16px;
		letter-spacing: 2px;
	}
	.spaceDown2 {
		margin-bottom: 0px !important;
	}
	.center {
		margin: 0px !important;
	}
	.space {
		margin: 0px !important;
	}
	.padding-resume {
		margin: 0px !important;
	}
	#navbar {
		display: none !important;
	}
}