.me {
    max-width: 150px;
    border: solid 1px black;
    background: -webkit-linear-gradient(left, #00000085, #700f548e);
}

.titleSmall {
    display: none !important;
    font-size: x-large;
}

.titleBig {
    font-size: x-large;
}

@media only screen and (max-width: 480px) {
    .titleBig {
        display: none !important;
    }
    .titleSmall {
        display: inline-block !important;
    }
}

* {
    scroll-behavior: smooth;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: 10ms;
}

.caption {
    background-color: rgba(0, 0, 0, 0.63);
    border-radius: 20px;
    max-width: 500px;
}

body {
    background: -webkit-linear-gradient(left, #fd873f, #710954);
}

.collapsible {
    max-width: 200px;
}

.parallax-container {
    height: 500px;
    box-shadow: 10px 2px 50px 20px rgba(0, 0, 0, 0.514);
}

.parallax-container2 {
    height: 400px;
}

.nav {
    background: -webkit-linear-gradient(left, rgba(71, 38, 18, 0.486), #710954);
}

.slider {
    box-shadow: 10px 2px 50px 20px rgba(0, 0, 0, 0.514);
    margin-bottom: 50px;
    border-radius: 10px;
    border: 5px transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.indicator-item.active {
    background-color: grey !important;
}

.btn-floating {
    background-color: rgba(0, 0, 0, 0.308);
    border-radius: 4px;
    min-width: 40px;
    max-height: 100px;
}

.btn-floating:hover {
    background-color: rgba(99, 99, 99, 0.342);
}

.fab:hover {
    background-color: rgba(126, 126, 126, 0.534) !important;
}

.shadow {
    text-shadow: 10px 2px 50px 10px rgba(0, 0, 0, 0.514) !important;
}

.border {
    max-width: 800px;
    
    border-left: 5px transparent rgba(0, 0, 0, 0.103);
    border-right: 5px transparent rgba(0, 0, 0, 0.103);
    border-top: none;
    border-bottom: 5px transparent rgba(0, 0, 0, 0.103);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 10px 2px 50px 10px rgba(0, 0, 0, 0.514);
    padding-top: 20px;
    padding-bottom: 30px;
}

.border2 {
    border: 5px transparent black;
    margin-top: 100px;
    box-shadow: 10px 2px 50px 10px rgba(0, 0, 0, 0.514);
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    color: white;
    padding: 10px;
}


p {
    margin: 0px;
}

h2 {
    margin: 0px
}

.row {
    margin-top: 0px;
    margin-bottom: 0px;
}

.container {
    margin-top: 0px;
}

.link {
    color: #e0e0e0;
    text-decoration: underline;
}